*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper-pagination{

  text-align: start !important;

}
.img-clip {

clip-path:polygon(
  0% 15%,
  0 0,
  15% 0%,
  85% 0%,
  100% 0,
  100% 15%,
  106% 69%,
  85% 70%,
  83% 101%,
  12% 101%,
  0 102%,
  0% 85%
)

}

.shape-radius {
  position: absolute;
  bottom: 124px;             /* बिलकुल bottom पर लाओ */
  right: 45px;               /* बिलकुल right पर लाओ */
  width: 36px;              /* width को थोड़ा बढ़ाओ */
  height: 38px;             /* height बराबर रखो */
  background-color: white;  /* अब white करेंगे */
  border-top-left-radius: 100px;
  z-index: 10;
}

