*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper-pagination{

  text-align: start !important;

}
/* .swiper-pagination-bullets{
  background: red;
   clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
} */
/* 
.swiper-pagination-bullets{
  border: 1px solid red !important;
  height: 20px !important;
  width: 20px !important;
  background: red;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
} */
